.botontexto {
    -fx-background-color: #ff671b;
    -fx-pref-width: 100px;
    -fx-pref-height: 62px;
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-family: "PT Sans Caption";
    -fx-font-weight: bold;
}

.tarjeta {
    -fx-background-color: #ff671b;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #c0c0c0;
    -fx-border-width: 1px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
    -fx-font-family: "PT Sans Caption";
    -fx-font-weight: bold;
}

.tarjeta-vbox {
    -fx-padding: 10px;
}

.boton-anyadir {
    -fx-background-color: white;
    -fx-pref-width: 8px;
    -fx-pref-height: 8px;
    -fx-font-size: 12px;
    -fx-text-fill: black;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-family: "PT Sans Caption";
    -fx-font-weight: bold;
}

.column-header {
    -fx-background-color: #ff671b;
    -fx-font-family: "PT Sans Caption";
    -fx-font-weight: bold;
}

.table-view .column-header, .table-view .table-cell {
    -fx-border-width: 0;
}

.table-view .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-max-height: 0;
}

.menu {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
    -fx-background-color: #ffffff;
    -fx-font-family: "PT Sans Caption";
    -fx-font-weight: bold;
}
